.card{
  border: 1px solid #8f8f8f3d !important;
  border-radius: 5px !important;
}

.title{
  color: #4e4e4e !important;
  text-transform: none !important;
}

.searchInput{
  border: 1px solid #3333331c !important;
  border-radius: 5px !important;
  padding: 2px 6px 5px 6px;
}

.searchButton{
  background-color: #2769e2 !important;
  color: white !important;
  text-transform: none !important;
  padding: 8px !important;
  margin-left: 5px !important;
}

.preloader{
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
  width: 50px !important;
  height: 50px !important;
}